<div style="text-align:Center">
  <h3>Info Cliente</h3>
</div>
<div >
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>SERGIO ROSSI
      </mat-panel-title>
      <mat-panel-description>NDG 87594854
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container" fxLayout fxLayout.xs="row" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">

      <div fxFlex="30">
        <span mat-line>Codice Fiscale</span>
        <br>
        <span mat-line>GRDBRN01B05h50N</span>
      </div>


      <div fxFlex="30">
        <span mat-line>Indirizzo</span>
        <br>
        <span mat-line>Via Altiero Spinelli 11</span>

      </div>

      <div fxFlex="20">
        <span mat-line>Città</span>
        <br>
        <span mat-line>Roma 00100 RM</span>

      </div>
      <div fxFlex="20">
        <mat-slide-toggle>Parabancario</mat-slide-toggle>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container" fxLayout fxLayout.xs="row" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">

      <div fxFlex="30">
        <span mat-line>Altro</span>
        <br>
        <span mat-line>...</span>
      </div>


      <div fxFlex="30">
        <span mat-line>Altro</span>
        <br>
        <span mat-line>...</span>

      </div>

      <div fxFlex="20">
        <span mat-line>Altro</span>
        <br>
        <span mat-line>..</span>

      </div>
      <div fxFlex="20">

      </div>
    </div>
    <mat-action-row>
      <button mat-button>Close</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
</div>
<!--
<div class="mat-app-background basic-container" fxLayout="wrap row" fxLayout.xs="column"  fxLayoutGap="1%" fxLayoutAlign="center">

  
  <mat-card>
    <mat-card-subtitle>Nome</mat-card-subtitle>
    <mat-card-content>Danilo</mat-card-content>
  </mat-card>
  <mat-card>
      <mat-card-subtitle>Cognome</mat-card-subtitle>
      <mat-card-content>Loconsolo</mat-card-content>
  </mat-card>
  <mat-card>
      <mat-card-subtitle>CodFiscale</mat-card-subtitle>
      <mat-card-content>LCNDN77B05H501N</mat-card-content>
  </mat-card>  
  <mat-card>
      <mat-card-subtitle>ndg</mat-card-subtitle>
      <mat-card-content>7886034</mat-card-content>
  </mat-card>  
</div>-->



<!--
<div class="container" fxLayout="row" fxLayout.xs="column"  fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxflex="100%">
      <span >NDG </span>
      <span>4434354 </span>
      <span>NOME </span>
      <span>Giordano </span>
      <span>COGNOME </span>
      <span>Bruno </span>
      <span>CF </span>
      <span>GRDBRN01B05h50N</span>
      <span>&nbsp;&nbsp;&nbsp; </span>
      <mat-slide-toggle>Parabancario</mat-slide-toggle>
    </div>
  </div>-->